<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="2" name="All Test Suite">
    <test name="C:/Users/DeathFreak/IdeaProjects/a.cheshkov_task4">
        <classes>
            <class name="BaseTest"/>
            <class name="VkTest"/>
        </classes>
    </test>
</suite>